
<div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>
                                Editar síntoma
                            </h1>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-dashboard"></i> {{#link-to 'principal'}}Inicio{{/link-to}}
                                </li>
                                <li class="active">Editar Síntoma</li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->

                <div class="row">
                    <div class="col-lg-12">

                        <div class="portlet portlet-default">
                            <div class="portlet-body">
                                {{!-- <ul id="userTab" class="nav nav-tabs">
                                    <li><a href="#profile-settings" data-toggle="tab">Editar Sintoma</a>
                                    </li>
                                </ul> --}}
                                <div id="userTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="profile-settings">
                                        <div class="row">
                                            {{!-- <div class="col-sm-3">
                                                <ul id="userSettings" class="nav nav-pills nav-stacked">
                                                    <li class="active"><a href="#basicInformation" data-toggle="tab"><i class="fa fa-pencil-square-o"></i>Editar Sintoma</a>
                                                    </li>
                                                </ul>
                                            </div> --}}
                                            <div class="col-sm-9">
                                                <div id="userSettingsContent" class="tab-content">
                                                    <div class="tab-pane fade in active" id="basicInformation">
                                                        <form role="form">
                                                            <h4 class="page-header">Editar información del síntoma:</h4>
                                                            <div class="form-group">
                                                                <label>Nombre actual del síntoma:</label>
                                                                {{input type="text" class="form-control" value=model.nombre disabled=true}}
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Nuevo nombre del síntoma:</label>
                                                                {{input type="text" class="form-control" value=newName}}
                                                            </div>
                                                            <button {{action 'save' model newName}}type="submit" class="btn btn-default">Guardar</button>
                                                            {{#link-to "controldesintomas" class="btn btn-green"}}Cancelar{{/link-to}}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- /.portlet-body -->
                        </div>
                        <!-- /.portlet -->


                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.page-content -->

        </div>

{{outlet}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/hisrc/hisrc.js"></script>
    <script src="/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="/js/plugins/popupoverlay/defaults.js"></script>

    <script src="/js/plugins/popupoverlay/logout.js"></script>



    <script src="/js/flex.js"></script>
    
<script src="/js/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
