
<div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>
                                Editar Primeros Auxilios
                            </h1>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-dashboard"></i>  <a href="principal">Inicio</a>
                                </li>
                                <li class="active">Editar Primeros Auxilios</li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->

                <div class="row">
                    <div class="col-lg-12">

                        <div class="portlet portlet-default">
                            <div class="portlet-body">
                                <ul id="userTab" class="nav nav-tabs">
                                    <li><a href="#profile-settings" data-toggle="tab">Editar Primeros Auxilios</a>
                                    </li>
                                </ul>
                                <div id="userTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="profile-settings">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <ul id="userSettings" class="nav nav-pills nav-stacked">
                                                    
                                                </ul>
                                            </div>
                                            <div class="col-sm-9">
                                                <div id="userSettingsContent" class="tab-content">
                                                    <div class="tab-pane fade in active" id="basicInformation">
                                                        <form role="form">
                                                            <h4 class="page-header">Información general de primeros auxlios:</h4>
                                                            <div class="form-group">
                                                                <label>Nombre actual de primer auxilio:</label>
                                                                <br>
                                                                <input type="text" class="col-sm-6" value="Alergia" disabled>
                                                                <br>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><b>Imagen</b></label>
                                                                <br>
                                                                <img class="img-responsive img-profile" src="img/alergias-respiratorias.jpg" height="100px" width="350px">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Definición general:</label>
                                                                <br>
                                                                <textarea rows="4" cols="50" disabled="">Las alergias aparecen cuando el sistema inmunitario reacciona ante una sustancia extraña (como el polen, el veneno de abejas o la caspa de las mascotas) o un alimento que no provoca una reacción en la mayoría de las personas.
                                                                </textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Síntomas:</label>
                                                                <br>
                                                                <textarea rows="4" cols="50" disabled="">Las personas pueden desarrollar una erupción cutánea, picazón o hinchazón en sus manos, pies o cara. Su respiración puede ser más lenta
                                                                </textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>¡Aviso importante!</label>
                                                                <br>
                                                                <textarea rows="4" cols="50" disabled="">Todo el contenido vertido en está sección, tiene carácter puramente informativo y debe ser utilizado única y estrictamente bajo su propia responsabilidad. Tampoco sugerimos el autodiagnóstico y la automedicación. En caso de identificar alguno de estos síntomas consulte al médico del campus.
                                                                </textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <br>
                                                                <label>Nuevo nombre de primer auxilio:</label>
                                                                <br>
                                                                <input type="text" class="col-sm-6" value="">
                                                                <br>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Adjuntar imagen:</label>
                                                                <input type="file">
                                                                <p class="help-block"><i class="fa fa-warning"></i> Formatos soportados: JPG, GIF, PNG</p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Definición general:</label>
                                                                <br>
                                                                <textarea rows="4" cols="50">
                                                                </textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Síntomas:</label>
                                                                <br>
                                                                <textarea rows="4" cols="50" >
                                                                </textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>¡Aviso importante!</label>
                                                                <br>
                                                                <textarea rows="4" cols="50" disabled="">Todo el contenido vertido en está sección, tiene carácter puramente informativo y debe ser utilizado única y estrictamente bajo su propia responsabilidad. Tampoco sugerimos el autodiagnóstico y la automedicación. En caso de identificar alguno de estos síntomas consulte al médico del campus.
                                                                </textarea>
                                                            </div>
                                                            <button type="submit" class="btn btn-default">Guardar</button>
                                                            <button class="btn btn-green">Cancelar</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- /.portlet-body -->
                        </div>
                        <!-- /.portlet -->


                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.page-content -->

        </div>

{{outlet}}
