
<div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>Registro de Primeros Auxilios
                            </h1>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-dashboard"></i>  <a href="principal">Inicio</a>
                                </li>
                                <li class="active">Lista de primeros Auxilios</li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->

                <!-- begin ADVANCED TABLES ROW -->
                <div class="row">

                    <div class="col-lg-12">

                        <div class="portlet portlet-default">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>Primeros auxilios actuales</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table id="example-table" class="table table-striped table-bordered table-hover table-green">
                                        <thead>
                                            <tr>
                                                <th>Primeros Auxilios</th>
                                                <th>Ver más</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">
                                                <td>Alergias</td>
                                                <td class="center"><a href="editarprimerosauxilios" class="btn btn-info">Editar</a></td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>Ataques de Ansiedad</td>
                                                <td class="center"><a href="editarprimerosauxilios" class="btn btn-info">Editar</a></td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>Crisis Asmática</td>
                                                <td class="center"><a href="editarprimerosauxilios" class="btn btn-info">Editar</a></td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>Diabetes</td>
                                                <td class="center"><a href="editarprimerosauxilios" class="btn btn-info">Editar</a></td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>Envenenamiento/Sustancias Peligrosas</td>
                                                <td class="center"><a href="editarprimerosauxilios" class="btn btn-info">Editar</a></td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>Golpe de Calor</td>
                                                <td class="center"><a href="editarprimerosauxilios" class="btn btn-info">Editar</a></td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>Hiportermia</td>
                                                <td class="center"><a href="editarprimerosauxilios" class="btn btn-info">Editar</a></td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>Picaduras/Moderduras</td>
                                                <td class="center"><a href="editarprimerosauxilios" class="btn btn-info">Editar</a></td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>Sangrado</td>
                                                <td class="center"><a href="editarprimerosauxilios" class="btn btn-info">Editar</a></td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>Tocerduras y Esguinces</td>
                                                <td class="center"><a href="editarprimerosauxilios" class="btn btn-info">Editar</a></td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.portlet-body -->
                        </div>
                        <!-- /.portlet -->

                    </div>
                    <!-- /.col-lg-12 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.page-content -->

        </div>

{{outlet}}
